#main_nav {
    position: absolute;
    top:2rem;
    left:50%;
    transform: translateX(-50%);
    width : 50%;
    margin: auto;
    .navbar-nav{
        width: 100%;
        a {
            color:white;
            margin: auto;
            &:hover{
                background-color: $color-primary-dark;
                border-radius: 1rem;
            }
        }
    }
}